/* Write your CSS here */

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.random-app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 400px;
  border-radius: 12px;
  font-family: 'Roboto';
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.header {
  font-size: 30px;
  font-family: roboto;
  font-weight: bold;
  color: #0b69ff;
}

.description {
  font-size: 15px;
  font-family: roboto;
  text-align: center;
  color: #333333;
}

.button {
  background-color: #0b69ff;
  font-size: 17px;
  font-family: roboto;
  color: #ffffff;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 18px;
  padding-top: 8px;
  border-radius: 10px;
  border-style: none;
  padding-bottom: 8px;
  cursor: pointer;
  outline: none;
}

.number {
  margin-top: 20px;
  font-size: 45px;
  font-weight: bold;
  color: #0b69ff;
}
